.cards {
    font-family: "Inter", Arial, sans-serif;
    margin-top: 30px;
    line-height: normal;
    font-weight: 900;
    color: black;
}

.cards__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 18px;
    padding: 40px 0 67px 0;
    margin: 0;
}

@media screen and (max-width: 680px) {
    .cards__list {
      padding-bottom: 48px;
    }
  }