.footer {
  display: flex;
  align-items: baseline;
  max-width: 880px;
  margin: 67px auto 60px auto;
  font-family: "Inter", Arial, sans-serif;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 620px) {
  .footer {
    max-width: 282px;
    margin: 48px 19px 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}